.carta5{
    color: white;
    width: 450px;
    margin-top: 0px;
}

.carta4{
    color: white;
    width: 450px;
    margin-top: 0;
}

.but{
    text-align: center;
}

.but12{
    text-align: center;
}